.header{
    display: flex;
    margin: 0 0;
    background-color: #1f2937;
    border-color: #1f2937;
    width: 100%;
    padding:0 0;
}

.header div{
    flex: 1;
}

.headerLogo{
    color: #F9FAF8;
    font-weight: bold;
    size: 24px;
    margin-left: 20%;
}

.headerLinks{
    display: flex;
    justify-content: end;
    margin-left: auto;
    margin-right: 20%;
}

.headerLinks a{
    margin: 0 10px;
    width: max-content;
}

.Session1{
    background-color: #1f2937;
    border-color: #1f2937;
    overflow:auto;
}

.Session1FlexBox{
    background-color: #1f2937;
    border-color: #1f2937;
    display: flex;
    gap: 20px;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 75px;
    margin-bottom: 50px;
}

.Session1FlexBox div{
    flex: 1;
}

.Session1Left{

}

.Session1Right{
    
}

.Session1RightImage{
    max-width: 100%;
    max-height: 100%;
}

body{
    margin: 0;
    padding: 0;
}